.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.content {
  flex-grow: 1;
}
a {
	text-decoration: none !important;
}
html {
  box-sizing: border-box;
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
	font-family: 'Open Sans', sans-serif !important;
  margin: 0;
  color: hsla(0, 0%, 0%, 0.8);
  font-weight: normal;
  word-wrap: break-word;
}